@tailwind base;
@tailwind components;
@tailwind utilities;

ul{
    padding-left: 25px;
}
li{
    list-style-type: disc;
}
.slick-next:before,
.slick-prev:before{
    content: unset;
}
.slick-prev,
.slick-next{
    width: fit-content;
    height: auto;
}